.notification {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  animation: fade-in-out 2s ease-in-out;
  width: 300px;
  height: auto;
  z-index: var(--notification-z-index);
  display: flex;
  justify-content: center;
  color: var(--primary-color);
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
