:root,
.app_dark_theme {
  --bg-color: rgb(1 24 113);
  --inverted-bg-color: white;
  --primary-color: rgb(44 185 9);
  --secondary-color: rgb(59 250 11);
  --inverted-primary-color: rgb(8 10 150);
  --inverted-secondary-color: rgb(32 184 245);

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #5151d3;

  // card
  --card-bg: rgb(28 53 150);
}
