:root,
.app_dark_theme {
  --bg-color: rgb(1 24 113);
  --inverted-bg-color: white;
  --primary-color: rgb(30 120 7);
  --secondary-color: rgb(59 250 11);
  --inverted-primary-color: rgb(8 10 150);
  --inverted-secondary-color: rgb(32 184 245);
}
