:root,
.app_green_theme {
  --bg-color: #f6fbf4;
  --inverted-bg-color: #183e09;
  --primary-color: #183e09;
  --secondary-color: #183e09;
  --inverted-primary-color: #cff4c1;
  --inverted-secondary-color: #f6fbf4;

  // skeleton
  --skeleton-color: #22ac0fd7;
  --skeleton-shadow: #0ccb4fd7;

  // code
  --code-bg: #6cd75ed7;

  // card
  --card-bg: #d5d5d7;
}
