:root,
.app_light_theme {
  --bg-color: white;
  --inverted-bg-color: rgb(1 24 113);
  --primary-color: rgb(8 10 150);
  --secondary-color: rgb(32 184 245);
  --inverted-primary-color: rgb(71 231 31);
  --inverted-secondary-color: rgb(59 250 11);

  // skeleton
  --skeleton-color: #4747d2;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #6565e0;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #d5d5d7;
}
