.app.light {
  --bg-color: white;
  --inverted-bg-color: rgb(1, 24, 113);

  --primary-color: rgb(8, 10, 150);
  --secondary-color: rgb(32, 184, 245);

  --inverted-primary-color: rgb(30, 120, 7);
  --inverted-secondary-color: rgb(59, 250, 11);
}
